.home_container{
    background: center / cover url(../images/home_main.png);
    background-position: top;
    width: 100%;
    min-height: 800px;
    align-items: center; 
    margin-top: 192px;

}
.home{
    background-color: #f1b0b5;
}
.home_title{
    display: flex;
    text-align: center;
    max-width: 660px;
    font-size: 3.6rem;
    font-weight: bold;
    padding: 20px;
    padding-top: 120px;
    font-family: 'Lobster', cursive;
    color: #af584a;
    justify-content: center;
    

}
.title {
    max-width: 600px;
    display: flex;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    color: #af584a;
    padding: 20px;
    margin-left: 20px;
    justify-content: center;
}
.main_text {
    max-width: 530px;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    color: #af584a;
    padding: 20px;
    margin-left: 60px;
    justify-content: center;
}
.btn {
    display: inline-block;
    font-size: 1rem;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-decoration: none;
    color: #cc313d;
    background-color: bisque;
    border: 3px solid #af584a;
    padding: 1rem 1.5rem;
    border-radius: 20px;
}
.btn:hover {
    background-color: transparent;
    color: bisque;
}




@media screen and (max-width: 3024px) {
    .home_title {
        max-width: 540px;
        font-size: 2.8rem;
        margin-left: 780px;
        transition: 0.2s ease-in-out;
    }
    .title {
        max-width: 460px;
        font-size: 2.2rem;
        margin-left: 830px;
        transition: 0.2s ease-in-out;
    }
    .main_text {
        max-width: 460px;
        font-size: 1.5rem;
        margin-left: 830px;
        transition: 0.2s ease-in-out;
    }
    .home_button {
        display: flex;
        column-gap: 2rem;
        margin-top: 30px;
        margin-left: 920px;
        transition: 0.2s ease-in-out;
    }
    }
    @media screen and (max-width: 2324px) {
        .home_title {
            max-width: 540px;
            font-size: 2.8rem;
            margin-left: 500px;
            transition: 0.2s ease-in-out;
        }
        .title {
            max-width: 460px;
            font-size: 2.2rem;
            margin-left: 550px;
            transition: 0.2s ease-in-out;
        }
        .main_text {
            max-width: 460px;
            font-size: 1.5rem;
            margin-left: 550px;
            transition: 0.2s ease-in-out;
        }
        .home_button {
            display: flex;
            column-gap: 2rem;
            margin-top: 30px;
            margin-left: 630px;
            transition: 0.2s ease-in-out;
        }
    } 
    @media screen and (max-width: 1850px) {
        .home_title {
            max-width: 540px;
            font-size: 2.8rem;
            margin-left: 300px;
            transition: 0.2s ease-in-out;
        }
        .title {
            max-width: 460px;
            font-size: 2.2rem;
            margin-left: 350px;
            transition: 0.2s ease-in-out;
        }
        .main_text {
            max-width: 460px;
            font-size: 1.4rem;
            margin-left: 350px;
            transition: 0.2s ease-in-out;
        }
        .home_button {
            display: flex;
            column-gap: 2rem;
            margin-top: 30px;
            margin-left: 430px;
            transition: 0.2s ease-in-out;
        }
    }
    @media screen and (max-width: 1400px) {
        .home_title {
            max-width: 540px;
            font-size: 2.8rem;
            margin-left: 140px;
            transition: 0.2s ease-in-out;
        }
        .title {
            max-width: 460px;
            font-size: 2.2rem;
            margin-left: 180px;
            transition: 0.2s ease-in-out;
        }
        .main_text {
            max-width: 420px;
            font-size: 1.3rem;
            margin-left: 190px;
            transition: 0.2s ease-in-out;
        }
        .home_button {
            display: flex;
            column-gap: 2rem;
            margin-top: 30px;
            margin-left: 250px;
            transition: 0.2s ease-in-out;
        }
    }
    @media screen and (max-width: 960px) {
        .home_title {
            max-width: 390px;
            font-size: 2rem;
            margin-left: 70px;
            transition: 0.2s ease-in-out;
        }
        .title {
            max-width: 360px;
            font-size: 1.6rem;
            margin-left: 80px;
            transition: 0.2s ease-in-out;
        }
        .main_text {
            max-width: 360px;
            font-size: 1.2rem;
            margin-left: 80px;
            transition: 0.2s ease-in-out;
        }
        .home_button {
            display: flex;
            column-gap: 2rem;
            margin-top: 40px;
            margin-left: 105px;
            transition: 0.2s ease-in-out;
        }
    }
    @media screen and (max-width: 650px) {
        .home_title {
            max-width: 360px;
            font-size: 2rem;  
            margin-left: 20px; 
            transition: 0.2s ease-in-out;    
        }
        .title {
            max-width: 360px;
            font-size: 1.4rem;
            margin-left: 20px;
            transition: 0.2s ease-in-out;
        }
        .main_text {
            max-width: 300px;
            font-size: 1.1rem;
            margin-left: 30px;
            transition: 0.2s ease-in-out;
        }
        .home_button {
            display: flex;
            column-gap: 2rem;
            margin-top: 40px;
            margin-left: 30px;
            transition: 0.2s ease-in-out;
        }
    }
