nav{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    
    justify-content: center;
    background: #af584a;
    padding: 20px 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);


}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: bisque;
    transition: 0.3s ease-in-out;
}
#navbar li a:hover{
    color: #642025;
}
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #642025;
    position: absolute;
    bottom:  -4px;
    left: 20px;
}
#mobile {
display: none;
}

#mobile i{
    color: bisque;
    align-items: center;
}



@media screen and (max-width:769px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 190px;
        width: 400px;
        height: 100vh;
        background: #af584a;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 20px;
        transition: 0.3s ease-in-out;
    }
    #navbar.active{
        right: -400px;
    }
    #navbar li{
        margin-bottom: 25px;

    }

    #mobile {
        display: block;
        padding-left: 100px;
    }
    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
}
